[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/home/runxiyu/.local/bin/mailsync

[Install]
WantedBy=default.target
